<div class="row">
  <div class="col-md-4 offset-md-4">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <!-- EMAIL -->
      <div class="form-group">
        <label for="email">
          Email
        </label>
        <input
          class="form-control"
          id="email"
          type="email"
          formControlName="email"
        />
        <div
          class="form-control-feedback"
          *ngIf="email.errors && (!email.pristine || email.touched)"
        >
          <p *ngIf="email.errors && email.errors.required">Email is required</p>
          <p *ngIf="email.status === 'INVALID'">
            Email is invalid.
          </p>
        </div>
      </div>

      <!-- PASSWORD -->
      <div class="form-group">
        <label for="password">
          Password
        </label>
        <input
          class="form-control"
          id="password"
          type="password"
          formControlName="password"
        />
        <div
          class="form-control-feedback"
          *ngIf="password.touched "
        >
          <p *ngIf="password.errors && password.errors.required">Password is required</p>
          <p *ngIf="password.status === 'INVALID'">
            Password must be at least 8 characters long
          </p>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="!loginForm.valid" class="btn btn-primary" type="submit">Login</button>
      </div>
      <div class="form-group">
        <a [routerLink]="['/register']">Register</a>
      </div>
    </form>
  </div>
</div>
